﻿@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Upload Files</strong></div>
        <div class="panel-body">
            <!-- Standar Form -->
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Select files...</span>
                <!-- The file input field used as target for the file upload widget -->
                <input id="fileupload" type="file" name="files[]" multiple="">
            </span>

            <!-- Drop Zone -->
            <h4>Or drag and drop files below</h4>
            <div class="upload-drop-zone" id="drop-zone">
                Just drag and drop files here
            </div>
            <!-- Progress Bar -->
            <div class="progress" style="display: none;">
                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    <span class="sr-only"></span>
                </div>
            </div>
            <!-- Upload Finished -->
            <div class="js-upload-finished">
                <h3>Processed files</h3>
                <div class="list-group">
                    <table class="table table-hover" id="files">
                        <thead>
                            <tr>
                                <th class="col-md-6">Name</th>
                                <th class="col-md-2">Actions</th>
                                <th class="col-md-2">Size</th>
                                <th class="col-md-2">Upload Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var file in ViewBag.files)
                            {
                                string fullFileName = Path.Combine(new string[] { Server.MapPath("~/App_Data"), file.Path });
                                if (!File.Exists(fullFileName)) 
                                {
                                    continue;
                                }
                                
                                <tr>
                                    <td class="file_name">
                                        <span class="glyphicon glyphicon-file"></span>
                                        @file.VisFileName
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-success btnDownload" id="@file.FileId">
                                            <i class="glyphicon glyphicon-download-alt"></i>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-danger btnDelete" id="@file.FileId">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>                                        
                                    </td>
                                    <td class="file_size">
                                        @{
                                            long length = new FileInfo(fullFileName).Length;
                                        }

                                        @string.Format("{0:F2} KB", length / 1024)
                                    </td>
                                    <td>
                                        @{
                                            DateTime lastWriteTime = new FileInfo(fullFileName).LastWriteTime;
                                        }

                                        @lastWriteTime.ToString("dd.MM.yy HH:mm")
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>