﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/jquery/css")
    @Styles.Render("~/bootstrap/css")
    @Styles.Render("~/filehosting/css")
    @Scripts.Render("~/jquery/js")
    @Scripts.Render("~/bootstrap/js")
    @Scripts.Render("~/filehosting/js")
</head>
<body>
    <div>
        <div class="alert alert-dismissable" id="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong id="status"></strong> <span id="msg"></span>
        </div>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/FileHosting/">FileHosting</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                @if (WebSecurity.IsAuthenticated)
                {
                    <li><a href="/FileHosting/Account/Edit/@WebSecurity.CurrentUserId" ><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                    <li><a href="/FileHosting/Account/Logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
                }
                else if (ViewBag.Title == "Sign Up")
                { 
                    <li><a href="/FileHosting/Account/Login"><span class="glyphicon glyphicon-user"></span> Log In</a></li>
                }
                else
                { 
                    <li><a href="/FileHosting/Account/Signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                }
            </ul>
        </div>
    </nav>
    @RenderBody()
</body>
</html>