﻿@{
    ViewBag.Title = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FileHosting.ViewModels.LoginViewModel
           

<div class="container">
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Login via site</h3>
            </div>
            <div class="panel-body">
                <form method="POST" action="/FileHosting/Account/Login" data-toggle="validator" role="form">
                    <fieldset>
                        <div class="form-group has-feedback">
                            <label for="login" class="control-label">Login</label>
                            <input type="text" class="form-control" id="login" name="Login"  data-minlength="4" data-maxlength="16" data-required-error="Login required" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="password" class="control-label">Password</label>
                            <input class="form-control" id="password" name="Password" type="password" data-minlength="4" data-maxlength="1024" data-required-error="Password required" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>
</div>
@Scripts.Render("~/validator/js")