﻿@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FileHosting.ViewModels.BaseUserViewModel

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <ul class="nav nav-pills nav-justified">
                    <li class="active"><a data-toggle="tab" href="#editProfileWrapper">Profile</a></li>
                    <li><a data-toggle="tab" href="#resetPasswordWrapper">Password</a></li>
                </ul>
                <div class="tab-content">
                    <div class="panel-body tab-pane fade in active" id="editProfileWrapper">
                        <form data-toggle="validator" role="form" id="editProfile">
                            <fieldset>
                                <div class="form-group has-feedback">
                                    <label for="login" class="control-label">Login</label>
                                    <input type="text" class="form-control" id="login" data-minlength="4" data-maxlength="16" data-required-error="Login required" value="@(Model != null ? Model.Login : "")" readonly>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group has-feedback">
                                    <label for="email" class="control-label">Email</label>
                                    <input type="email" class="form-control" id="email" data-error="Email is invalid" data-required-error="Email required" value="@(Model != null ? Model.Email : "")" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label for="fullName" class="control-label">Full Name</label>
                                    <input class="form-control" id="fullName" type="text" value="@(Model != null ? Model.FullName : "")">
                                </div>
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Edit">
                            </fieldset>
                        </form>
                    </div>
                    <div class="panel-body tab-pane fade in" id="resetPasswordWrapper">
                        <form data-toggle="validator" role="form" id="resetPassword">
                            <fieldset>
                                <div class="form-group has-feedback">
                                    <label for="old" class="control-label">Old Password</label>
                                    <input type="password" class="form-control" id="old" data-minlength="4" data-maxlength="1024" data-required-error="Password required" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group has-feedback">
                                    <label for="new" class="control-label">New Password</label>
                                    <input type="password" class="form-control" id="new" data-minlength="4" data-maxlength="1024" data-required-error="Password required" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group has-feedback">
                                    <label for="confirm" class="control-label">Confirm New Password</label>
                                    <input class="form-control" id="confirm" type="password" data-match="#new" data-required-error="Confirm required" data-match-error="Password and confirm should be equal" required>
                                </div>
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Reset">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/validator/js")
