﻿@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FileHosting.ViewModels.UserViewModel


<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Register</h3>
                </div>
                <div class="panel-body">
                    <form id="signUp" data-toggle="validator" role="form">
                        <fieldset>
                            <div class="form-group has-feedback">
                                <label for="login" class="control-label">Login</label>
                                <input type="text" class="form-control" id="login" data-minlength="4" data-maxlength="16" data-required-error="Login required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="password" class="control-label">Password</label>
                                <input class="form-control" id="password" type="password" data-minlength="4" data-maxlength="1024" data-required-error="Password required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="confirm" class="control-label">Confirm Password</label>
                                <input class="form-control"  id="confirm" type="password" value="" data-match="#password" data-required-error="Confirm required" data-match-error="Password and confirm should be equal" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="email" class="control-label">Email</label>
                                <input type="email" class="form-control" id="email" data-error="Email is invalid" data-required-error="Email required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label for="fullName" class="control-label">Full Name</label>
                                <input class="form-control" id="fullName" type="text">
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Register">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/validator/js")